
body {
    background: #F3F3F3;
    padding: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
 }

.cart {
  background-color: white;
  border: 0.1vw solid darkcyan; 
  width: 50%; 
  min-height: 90vh; 
}

.product{
margin: 1vh 0 2vh 2vw;
padding: 1vw 0 0 0; 
width: 50%; 
border: 0.1vw solid darkcyan; 

}


h1 {
  font-family: 'Pacifico', cursive;
  margin: 1vh 0 0 2vw;
}

h3 {
  margin: 1vh 0 4vh 2vw;
  padding: 0 19vw 0 0vw; 

}
 p {
   margin: 1vh 0 4vh 2vw;
 }

.total {
  display: inline-flex; 
 
}

.free-shipping {
  width: 20vw;
  height: auto; 
  border: 0.2vw solid greenyellow; 
  color: green;
  text-align: center; 
  padding: 1vw 0; 
  float: right; 
}

.no-free-shipping{
  width: 20vw;
  height: auto; 
  border: 0.2vw solid red;  
  color: orangered;
  text-align: center; 
  padding: 1vw 0; 
  float: right; 
}