
.list {
  text-align: center;
  margin: 0 0 0 2vw;
  font-family: monospace; 
  background-color: lavenderblush; 
  padding: 2vw; 
}

h2
{
  font-size: 1.5vw; 
}


h1{
  font-size: 3vw; 
}

input {
  width: 10vw;
  margin: 1vw; 
}

.button{
  width: 10vw;
  margin: 2vw 1vw 1vw 1vw; 

}