.App {
  margin: 10% 50%;
  width: 50%;
}

.positiveMessages{
  visibility: visible;
  margin: 0 30%;
  background-color: yellowgreen;
  border: outset 3px; 
  height: 20vh; 
  width: 40vw;
  color: white; 
  text-align: center; 
}

.negativeMessage {
  margin: 0 30%;
  background-color: orangered;
  border: outset 3px; 
  height: 20vh; 
  width: 40vw;
  color: white; 
  text-align: center
}

h1.title {
  text-align: center;
  font-size: 8vh;
  color: darkblue; 
}

.input {
  margin: 0 35%;
  float: center;
  display: grid;
  grid-template-columns: 30vw; 
  grid-template-rows: 4vh 4vh 4vh 4vh;  
  text-align: center;
  font-size: 3vh;
  color: darkblue; 
}

.submit{
  margin: 5% 42.5%;
  width: 15vw; 
  text-align: center;
  font-size: 3vh;
  color: darkblue; 
}
