

.App {
  text-align: left; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 0 0 2vw; 
}

.done {
  text-decoration-line: line-through
}



.button {
  float: right;
  vertical-align: middle;
  border: 2px; 
}

.trashcan {
  float:right; 
  width: 2vw;
  padding: 0.5vw; 

}
.list{
  border-style: solid;
  border-width: 2px;
  list-style-type: none;
}

.item{
  display: flex; 
  width: 25vw;
  height: 3vw;  
  border-style: solid;
  border-width: 1.5px;
  border-color: cornflowerblue; 
  margin: 2vw; 
  padding: 0.5vw;  
}

.todo {
  display: inline;
  height: 3vw; 
  width: 22vw ;
  font-size: 2vw; 
  vertical-align: middle;  
  padding: 0vw 1.5vw;  
}

.trash-button {
  width: 5vw;
  margin: 0 0 0 0vw;
}
.newTodoForm{
  width: 25vw;
  height: 3vw;  
  font-size: 2vw; 
}

.plusButton{
  border-style: solid;
  border-width: 1.5px;
  border-color: cornflowerblue; 
  font-size: 2vw; 
  height: 3.5vw;
  width: 3.5vw; 
  margin: 0 0 0 2.1vw; 
}

