.App {
  font-family: monospace; 
  margin: 1vw 2vw;
}

.euroToDollar {
  margin: 1vw 4vw;
  color: cadetblue;
}



.dollarToEuro{
  margin: 1vw;
  color: cornflowerblue; 
}

.converter {
  display: inline-flex; 
}

.results {
  margin: 2vw 20vw; 
}

h1{
  margin: 4vw; 
}