

.App {
  margin: 10% auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.number{
  font-size: 6vw;
  margin: 0 0 3vw 0;  
}

.button {
  font-size: 1.5vw;
  width: 20%; 
  border: 3px solid orange; 
  margin: 0 0 3vw 0; 
}
