
.Header{
  background-color: #282c34;
  min-height: 10vh; 
  max-height: 12vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-style: italic;
  font-size: 4vh; 
}


.Best {

  color: darkblue;
  margin: 2px 6vw; 
  }

  .BestItem {
    display: inline-flex;  
    text-align: center;
    color: darkblue; 
    padding: 2vw 2vw; 
    }
  